body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 1.6em;
  color: $black;
  margin: 0;
}
.tablecolumn{
    max-width: 90px;
    color: #0079c1;
    height: 2em; 
    line-height: 1em; 
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}

.largetablecolumn{
    max-width: 200px;
}
.tablecolumn:hover{
    overflow: visible; 
    white-space: normal; 
    word-break: normal;
}
h1 {
  font-weight: 300;
  font-size: 68px;
  line-height: 1.5;

}

h1, h2 {
  text-align: center;
  padding: 0;
  margin: 10px 0 20px;
}

h2 {
  font-family: 'American Typewriter';
  color: #171717;
  font-style: normal;
  font-size: 36px;
  letter-spacing: .015em;
  line-height: 1.5em;
  text-transform: none;
  font-weight: 400;
}

h1, h2, h3 {
  text-rendering: optimizeLegibility;
}

p {
  margin-top: 0;
}

a {

  &:hover {
    color: $link-hover-color;
  }
}

.column {
  background-color: #fff;
}

@media screen and (min-width: 1008px) {
  .page-content {
    margin-top: 180px;
  }
}