.navbar {
  background-color: gray;
  padding: 40px 0;
  background-image: url('/assets/img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .navbar-burger {
    &:hover {
      background-color: transparent;
    }

    span {
      background-color: #fff;
    }
  }

  .navbar-brand {
    overflow-x: inherit;
    overflow-y: inherit;
  }

  .navbar-brand img {
    max-height: 100% !important;
    width: auto;
  }

  .navbar-item {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .12em;

    &:hover {
      background: transparent;
      color: #fff;
    }
  }
}

@media screen and (min-width: 1008px) {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
