.navbar {
  .navbar-brand {
    overflow-x: inherit;
    overflow-y: inherit;
  }

  .navbar-brand img {
    max-height: 100% !important;
    width: auto;
  }

  .navbar-item {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
    letter-spacing: .12em;

    &:hover {
      background: transparent;
      color: $link-hover-color;
    }
  }
}

@media screen and (min-width: 1008px) {
  .navbar {
    margin-top: 30px;

    .navbar-menu {
      padding-right: 112px;
    }

    .navbar-end {
      margin-right: auto;
    }
  }
}
