<a class="navbar-item" href="{{ '/join' | relative_url }}">Join</a>
<a class="navbar-item" href="{{ '/learn' | relative_url }}">Learn</a>
<a class="navbar-item" href="{{ '/community' | relative_url }}">Community</a>
<!-- <a class="navbar-item" href="{{ '/users' | relative_url }}">User Stories</a> -->
<a class="navbar-item" href="{{ '/events' | relative_url }}">Events</a>
<a class="navbar-item" href="{{ '/news' | relative_url }}">News</a>
<!-- <a class="navbar-item" href="{{ '/blog' | relative_url }}">Blog</a> -->
