---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import '_vars';

@import 'bulma/utilities/_all';
@import 'bulma/grid/_all';
@import 'bulma/elements/container';
@import 'bulma/components/navbar';

@import 'base';
@import 'navbar';
@import 'home';